In [35]:
import pandas as pd

In [36]:
semisupervised_train=pd.read_csv("semisupervised_train.csv")
print("semisupervised_train>>")
semisupervised_train

semisupervised_train>>

                          id  cuisine  review_count  rating  recommend
0     3quopZyL8WuqVFfsCi0z2A   indian            98     4.5          1
1     byVmQiGVTyLrG_74OFJ7eg  italian            98     4.0          1
2     X9ftU-exKhTMOjtr3B52rw  chinese            98     4.0          1
3     D9Uf7UmU2KlgS_H8lJwOrA  mexican            98     4.0          1
4     sr0rCMn-XtKATvl9adYQxA  chinese            98     3.5          1
...                      ...      ...           ...     ...        ...
2894  ThderRLd1vYtTFO7LNnP4g    greek             1     5.0          0
2895  CB-2K_Xc0m0DICXxl7evow    latin             1     5.0          0
2896  2s2MwMl7D_khTTKKdMnrgQ    latin             1     5.0          0
2897  d6iU2zIWJOCLUAYXjQLXLA    latin             1     5.0          0
2898  eScKPCTWk7iDPEOt_tedxQ  persian             1     5.0          0

[2899 rows x 5 columns]

In [37]:
semisupervised_train.describe()

       review_count       rating    recommend
count   2899.000000  2899.000000  2899.000000
mean      84.957227     3.700931     0.238703
std      128.393346     0.535235     0.426364
min        1.000000     2.500000     0.000000
25%       11.000000     3.500000     0.000000
50%       36.000000     3.500000     0.000000
75%      113.000000     4.000000     0.000000
max     1613.000000     5.000000     1.000000

In [38]:
unsupervised_train=pd.read_csv("unsupervised_train.csv")
print("unsupervised_train>>")
unsupervised_train

unsupervised_train>>

                          id  cuisine  review_count  rating  recommend
0     p1ohbPwI1QfjHQ2zRup5OA  italian            76     4.0          1
1     uXzHDmzG5mTcjP7IctinKQ   indian            76     4.0          1
2     ceK2VvPlxPBPo1evXOlD7g   indian            76     4.0          1
3     LnsAgGlvIPmc9eV_cMdU5w  mexican            76     4.0          1
4     98NaJ8FWzPuoymHfj6IIeA  chinese            76     3.5          1
...                      ...      ...           ...     ...        ...
1097  p-95dBWK8sxiCvJrUNxZ3Q  chinese             2     2.5          0
1098  EnW3yR9O3yGrjQ9eXEpWFQ  chinese             2     2.5          0
1099  QSYoMQZTkDT8MhoJTQFQdg  chinese             2     2.5          0
1100  b1OAb3zbmNnMAG9xqtttfg  chinese             2     2.5          0
1101  IHUq8aaR8_RsLGgspZhQGw   indian             2     2.5          0

[1102 rows x 5 columns]

In [39]:
unsupervised_train.describe()

       review_count       rating    recommend
count   1102.000000  1102.000000  1102.000000
mean      72.245009     2.962341     0.500000
std       63.091170     0.945224     0.500227
min        0.000000     0.000000     0.000000
25%        7.000000     2.500000     0.000000
50%       79.000000     3.000000     0.500000
75%      119.000000     4.000000     1.000000
max      303.000000     5.000000     1.000000

In [40]:
semisupervised_train_for_model=semisupervised_train.drop(['id', 'cuisine'], axis=1)
semisupervised_train_for_model

      review_count  rating  recommend
0               98     4.5          1
1               98     4.0          1
2               98     4.0          1
3               98     4.0          1
4               98     3.5          1
...            ...     ...        ...
2894             1     5.0          0
2895             1     5.0          0
2896             1     5.0          0
2897             1     5.0          0
2898             1     5.0          0

[2899 rows x 3 columns]

In [41]:
features_cols=[ 'review_count', 'rating']

In [42]:
x = semisupervised_train_for_model[features_cols] # Features
y = semisupervised_train.recommend

In [43]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [44]:
import xgboost as xgb
model = xgb.XGBRegressor()
model.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [45]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(model.score(x_test, y_test)))

Accuracy of logistic regression classifier on test set: 1.00

In [46]:
y_pred = model.predict(unsupervised_train[features_cols])
predictions = [round(value) for value in y_pred]
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(unsupervised_train.recommend, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 84.30%