In [1]:
import pandas as pd
import requests
import json
from urllib.parse import urljoin

In [2]:
API_KEY = "vj2DjKvI1oDpqInyqQ0l4hqr37Y3E9WWyu1TP9cneiFuq4tOWO9HWXBr2KIPfj0Oms5xVjF6BRVSm0QQmLwdBdLWc0QHcYxfNrR790kjF1G2m_glhyy7I32s9eoWX3Yx"
YELP_SEARCH_API	= 'https://api.yelp.com/v3/businesses/search'
DEFAULT_LOCATION = 'Toronto'

In [3]:
def searchRestaurants(cuisine,offset):
    payload = {
        'term' : cuisine + " restaurants",
        'location': DEFAULT_LOCATION,
        'sort_by': 'rating',
        'offset': offset,
        'limit': 50,
    }
    auth_key = ' '.join(['Bearer', API_KEY])
    headers = {"Authorization": auth_key}
    api_call = requests.get(YELP_SEARCH_API, params=payload, headers=headers)

    result = api_call.json()
    biz = result['businesses']
    result_str = []
    if not biz:
        return result_str
    return biz

In [4]:
#print(searchRestaurants('indian'))

In [5]:
import time

cuisines = ['italian', 'chinese', 'indian', 'american', 'mexican', 'spanish', 'greek', 'latin', 'persian']
restaurantList = []
for cuisine in cuisines:
    try:
        print('\nDataframe for '+cuisine)
        offset = 0
        while offset < 1000:
            result = searchRestaurants(cuisine,offset)
            for rec in result:
                restaurantList.append((rec.get('id'),cuisine,rec.get('review_count'),rec.get('rating')))
            print('Total records : '+str(len(result)))
            offset += 50
    except BaseException as e:
        print('failed on_status,',str(e))
        time.sleep(3)

Dataframe for italian
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 39
Total records : 0
Total records : 0
Total records : 0

Dataframe for chinese
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 24
Total records : 0
Total records : 0
Total records : 0

Dataframe for indian
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 49
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0

Dataframe for american
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 38
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0

Dataframe for mexican
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 41
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0

Dataframe for spanish
Total records : 50
Total records : 28
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0

Dataframe for greek
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 50
Total records : 10
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0

Dataframe for latin
Total records : 50
Total records : 43
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0

Dataframe for persian
Total records : 50
Total records : 4
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0
Total records : 0

In [6]:
restaurantdf = pd.DataFrame()
restaurantdf = pd.DataFrame(restaurantList,columns=['id', 'cuisine','review_count','rating'])
print(restaurantdf.head(3))
filename = 'yelp_restaurant.csv'
csvFile = open(filename, 'a')
restaurantdf.to_csv(filename, index = False)

                       id  cuisine  review_count  rating
0  g6AFW-zY0wDvBl9U82g4zg  italian           326     5.0
1  a-Mo7Ipu_c5y21mmg0-F7g  italian           173     4.5
2  zEwQJl9haP5BYIl0peOpGA  italian           171     4.5

In [7]:
len(restaurantdf)

3626